<div class="mat-elevation-z6 page">
  <div class="page-header" fxLayout="row" fxLayoutAlign="end center">
    <p fxFlexAlign="center" class="page-num">1</p>
  </div>
  <div class="page-content" contenteditable="true">
    <p class="transition">Fade in</p>
    <p class="scene-heading">Int./ext. place - day/night</p>
    <p class="action">With <span class="character">Adam</span> walk through the river</p>
    <p class="character">Adam</p>
    <p class="parenthesis">Screaming</p>
    <p class="dialog">Hello World! I want to know how long this could take</p>
    <p class="transition">Cut To</p>
  </div>
  <div class="page-footer"></div>
</div>
