<div class="mat-elevation-z6 page">
  <div class="page-header" fxLayout="row" fxLayoutAlign="end center">
    <p fxFlexAlign="center" class="page-num">1</p>
  </div>
  <div class="page-content" contenteditable="true">
    <p class="transition" contenteditable="true">Fade in</p>
    <p class="scene-heading" contenteditable="true">Int./ext. place - day/night</p>
    <p class="action" contenteditable="true">With <span class="character">Adam</span> walk through the river</p>
    <p class="character" contenteditable="true">Adam</p>
    <p class="parenthesis" contenteditable="true">Screaming</p>
    <p class="dialog" contenteditable="true">Hello World! I want to know how long this could take</p>
    <p class="transition" contenteditable="true">Cut To</p>
  </div>
  <div class="page-footer"></div>
</div>
