* {
  font-family: "Courier New", serif;
  font-size: 14pt;
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  max-width: 210mm;
  min-height: 80vh;
  padding: 0 1.5in 0 1in;
  background-color: white;
  margin: 1em auto;
}
@media print {
  .page {
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: aliceblue;
    padding: 0 1.1in 0 0.6in;
  }
}
.page-header,
.page-footer {
  height: 1in;
}
p.page-num {
  //position: absolute;
  //text-align: end;
}
p.character,
.parenthesis {
  text-align: center;
}
.parenthesis:before {
  content: "(";
}
.parenthesis:after {
  content: ")";
}
.transition:after {
  content: ":";
}
.character,
.scene-heading,
.subheader {
  font-weight: bold;
  text-transform: uppercase;
}
.transition {
  text-align: end;
}
.dialog {
  padding-right: 1in;
  padding-left: 0.5in;
}
.character,
.dialog,
.action,
.parenthesis,
.transition,
.scene-heading,
.subheader {
  padding-bottom: 1em;
}
[contenteditable] {
  outline: 0 solid transparent;
}
