<mat-toolbar class="mat-elevation-z3 navbar" fxHide.print>
  <mat-form-field>
    <input [(ngModel)]="scenario.title" matInput />
  </mat-form-field>
  <span fxFlex></span>
  <button mat-button>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span translate>Prev</span>
  </button>
  <mat-select fxFlex="10" [(value)]="selected">
    <mat-option *ngFor="let lineType of lintTypes" value="{{ lineType.code }}">{{ lineType.name }}</mat-option>
  </mat-select>
  <button mat-button>
    <span translate>Next</span>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</mat-toolbar>
